@import "mixins.scss";

/* COLORS --------------------- */

$light-gray      :   #f1f1f1;

$middle-gray     :   #cccccc;

$dark-gray       :   #848484;



$middle-brown	 :	 #795548;



$light-yellow   :   #fffeae;




/* FONTS --------------------- */

$knight-serif : 'Cinzel', serif;

$cursive      : 'Permanent Marker', cursive;

$default      : 'Lato', sans-serif;

